body {
  padding-top: 5rem;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}
.bg-dark{
  background-color: blue!important;
}

.navbar-dark .navbar-brand {
    color: light-blue;
}

.btn-primary {
    color: tomato;
    background-color: light-blue;
    border-color: tomato;
}
